<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css">
    <title>Authentication</title>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="form-sign-up" action="#">
                <h1>Create Account</h1>
                <input name="name" type="text" placeholder="Name" />
                <input name="email" type="email" placeholder="Email" />
                <input name="password" type="password" placeholder="Password" />
                <button id="call-sign-up">Sign Up</button>
                <p class="error" style="color: red;"></p>
                <p class="info" style="color: rgb(78, 172, 201);"></p>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form id="form-sign-in" action="#">
                <h1>Sign in</h1>
                <input name="email" type="email" placeholder="Email" />
                <input name="password" type="password" placeholder="Password" />
                <a id="passwordReset" href="#">Forgot your password?</a>
                <button id="call-sign-in"">Sign In</button>
                <p class=" error" style="color: red;"></p>
                    <p class="info" style="color: rgb(78, 172, 201);"></p>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>
            © Copyright 2023 <i class="fa fa-heart"></i> 2023
            <a target="_blank" href="#">ISAV solutions</a>
        </p>
    </footer>
</body>
<script src="index.js"></script>

</html>